{% extends "zachsite/base.html" %}
{% load staticfiles %}
{% block localhead %}
<link rel="stylesheet" type="text/css"
href="{% static 'zachsite/auth.min.css' %}">
<script type="text/javascript" src="{% static 'zachsite/auth_concat.js' %}">
</script>
{% endblock %}
{% block content %}
<form class="auth-form" method="post" action="{% url 'password_reset' %}">
  {% csrf_token %}
  {{ form.email.errors }}
  {{ form.email.label_tag }}
  <input type="text" name="id_email" value="{{ form.email.value|default_if_none:'' }}"/><br>
  <input class="submit-btn" type="submit" value="Send Reset Code"/>
</form>
{% endblock %}