{% extends 'blog/base_blog.html' %}
{% load staticfiles %}
{% load zachsite_extras %}
{% block localhead %}
<link rel="stylesheet" type="text/css"
href="{% static 'blog/blog_entries.css' %}">
<script type="text/javascript" src="{% static 'blog/blog_entries.js' %}">
</script>
{% endblock %}
{% block content %}
<section id="recent-entries-section">
  {% for entry in entriesList %}
  {% if forloop.counter0|divisibleby:2 %}
  <div class="container-fluid">
  {% else %}
  <div class="container-fluid alt">
  {% endif %}
    <div class="row">
      <div class="col-sm-1 col-md-2">
      </div> <!-- /. col-sm-1 -->
      <div class="col-xs-12 col-sm-10 col-md-8 entry-about-div">
        <a href="{% url 'blog_detail' entry.uuid entry.slug %}">
          <h3 class="entry-tagline"><strong>{{ entry.tagline }}</strong></h3>
          <p class="entry-text">
            {{ entry.text|nobreaks|truncatechars:300 }} (read more)
          </p>
          <p><em>{{ entry.pub_time }}</em></p>
        </a>
      </div> <!-- /.col-xs-12 -->
      <div class="col-sm-1 col-md-2">
      </div> <!-- /. col-sm-1 -->
    </div> <!-- /.row -->
  </div> <!-- /.container-fluid -->
  {% endfor %}
</section>
{% endblock %}