#blog-about-section {
	#blog-about-div {
		padding: 30px 10%;
	}
	h3 {
		text-align: center;
		padding: 10px 0%;
	}
	p {
		text-align: left;
		max-width: 418px;
		margin: 0 auto;
	}
}

#blog-image {
	display: block;
	margin: 0 auto;
	width: 80%;
	max-width: 400px;
	border-radius: 60px;
}

hr {
	margin: 10px 10%;
	height: 2px;
	border-color: $zach-blue-nav;
	background-color: $zach-blue-nav;
}