//----------------------------------------------------------------------------
//--------------------------- Precontent Formatting --------------------------
//----------------------------------------------------------------------------

.header-section {
	position: relative;
	height: 200px;
}

.header-background {
	position: relative;
	height: 200px;
	width: 100%;
	min-width: 1200px;
	overflow: hidden;
	background-color: $zach-blue-bg-dark;
	img {
		position: relative;
		width: 1290px;
	}
}

#header-panel {
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	text-align: center;
	opacity: 0.85;
}

#header-title {
	opacity: 1;
	color: $zach-red;
	font-family: $font-family-merriweather;
	
	strong {
		color: darken($zach-red, 7%);
		font-family: $font-family-base;
	}
}