//----------------------------------------------------------------------------
//--------------------------- Precontent Formatting --------------------------
//----------------------------------------------------------------------------

#header-carousel {
	height: 200px;
	overflow: hidden;
	background-color: $zach-blue-bg-dark;
	.carousel-inner .item img {
		min-height: 200px;
		min-width: 700px;
	}
}

#header-panel {
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	text-align: center;
	opacity: 0.85;
}

#header-title {
	opacity: 1;
	color: $zach-red;
	font-family: $font-family-merriweather;
	
	strong {
		color: darken($zach-red, 7%);
		font-family: $font-family-base;
	}
}