@import 'precontent';

//----------------------------------------------------------------------------
//------------------------ Project Subnav Formatting -------------------------
//----------------------------------------------------------------------------

#project-subnav {
	//display: none;
	background-color: lighten(black, 20%);
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7%;
	padding-right: 7%;
	
	.subnav-link {
		color: lighten(gray, 15%);
		div {
			padding: 10px 0px;
		}
	}
	
	.subnav-link:hover {
		color: lighten(gray, 45%);
	}
	
	.active a.subnav-link {
		color: lighten(gray, 45%);
	}
}

.subnav-link-active-icon {
	display: none;
}

//----------------------------------------------------------------------------
//---------------------- Project Subsection Formatting -----------------------
//----------------------------------------------------------------------------

// divs with class 'alt'
div.alt {
	background-color: $zach-yellow !important;
}

// -------------------------
//  Pre Element Formatting:
// -------------------------

// formatting for code text within .codebox elements
.codebox {
	span.keyw {
		color: $zach-red;
	}
}

// .pre-container wraps the <pre> elements to allow them to
// be justified if necessary
.pre-container {
	pre {
		background-color: $zach-blue-bg-light;
		border-width: 0px;
		
		// Box display allows center justifying
		display: box;
		display: -moz-box;
		display: -webkit-box;
	}
}

// .pre-center added to .pre-container to center the content within
// its <pre> elements
.pre-center {
	pre {
		// center justify pre within div.pre-center
		
		box-pack: center;
    	box-align: center;
    	-moz-box-pack: center;
    	-moz-box-align: center;
    	-webkit-box-pack: center;
    	-webkit-box-align: center;
    	
	}
}

// formatting for divs within readme and docs pages
#readme-section, #docs-section {
	div.container-fluid {
		div.row {
			background-color: $zach-blue-bg;
		}
		div.alt {
			background-color: $zach-yellow;
		}
		h2 {
			text-align: center;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		h3 {
			font-weight: bold;
			padding-top: 30px;
			padding-bottom: 20px;
			margin-top: 0px;
			margin-bottom: 0px;
		}
		h4, h5, h6 {
			padding-top: 15px;
			padding-bottom:10px;
		}
		span.red, em.red {
			color: $zach-red;
			opacity: 0.8;
		}
		span.light-blue, em.light-blue {
			color: lighten($zach-blue, 5%);
			opacity: 0.8;
		}
		span.bold em.bold {
			font-weight: bold;
		}
		div.row {
			padding-top: 30px;
			padding-bottom: 50px;
			padding-left: 3%;
			padding-right: 3%;
		}
	}
	div.alt {
		pre {
			background-color: $zach-yellow-light;
		}
	}
}

//----------------------------------------------------------------------------
//------------------------ Project Sidebar Formatting ------------------------
//----------------------------------------------------------------------------

$sidebar-width: 320px;

// Project subsection background is gray
// bootstrap containers have right margin to show sidebar
#readme-section, #docs-section {
	background-color: $zach-gray-bg;
	.container-fluid {
		margin-right: $sidebar-width;
	}
}

// Floating sidebar on right, same width as subsections' R margin
.sidebar-wrapper {
	background-color: $zach-gray-bg;
	position: absolute;
	right: 0px;
	width: $sidebar-width;
}

// Sidebar div style
.sidebar {
	// Some pleasant padding
	padding: 40px 7%;
	// Headings
	h4 {
		text-align: left;
		margin-top: 20px;
		margin-bottom: 15px;
	}
	h5 {
		text-align: center;
	}
	// Links appear as light grey buttons
	a.sidebar-link {
		// Links: red text
		color: $zach-red;
		// div formatting:
		div {
			margin: 5px auto;
			padding: 10px 5%;
			text-align: left;
			border-radius: 5px;
			background-color: darken($zach-blue-bg, 10%);
		}
	}
	// Links lighten on hover
	a.sidebar-link:hover {
		color: $zach-red-light;
		
		div {
			background-color: $zach-blue-bg;
		}
	}
	//subtopic1 gets some L margin
	a.subtopic1 div {
		background-color: $zach-yellow;
		margin-left: 9%;
		margin-right: 3%;
	}
	//subtopic1 lightens on hover
	a.subtopic1:hover {
		div {
			background-color: $zach-yellow-light;
		}
	}
	//subtopic2 gets some L margin
	a.subtopic2 div {
		background-color: $zach-gray;
		margin-left: 18%;
		margin-right: 6%;
		font-size: 0.85em;
	}
	//subtopic2 lightens on hover
	a.subtopic2:hover {
		div {
			background-color: $zach-gray-light;
		}
	}
}

// Sidebar goes above subsections at smaller screen sizes
@media (max-width: $screen-md-min) {
	// Get rid of margin
	#readme-section, #docs-section {
		.container-fluid {
			margin-right: 0px;
		}
	}
	// Kill float, make width responsive
	.sidebar-wrapper {
		position: static;
		width: 100%;
	}
	// Center align text
	.sidebar {
		h4, h5 {
			text-align: center;
		}
		a.sidebar-link {
			text-align: center;
			div {
				text-align: center;
			}
		}
		// topic 80% width
		a.topic div {
			margin: 5px auto;
			width: 80%;
		}
		// subtopic1 70% width
		a.subtopic1 div {
			margin: 5px auto;
			width: 70%;
		}
		// subtopic2 60% width
		a.subtopic2 div {
			margin: 5px auto;
			width: 60%;
		}
	}
}
