// -------------------------------------------------------------------------
// --------------------------  "LOCAL GLOBALS"  ----------------------------
// -------------------------------------------------------------------------

// Zach site colors
$zach-blue: #445566;
$zach-blue-bg: lighten($zach-blue, 65%);
$zach-blue-bg-dark: lighten($zach-blue, 10%);
$zach-blue-nav: darken($zach-blue-bg, 3%);
$zach-blue-nav-active: darken($zach-blue-nav, 3%);
$zach-purple: #f5f5fa;
$zach-yellow: darken(#fafaf5, 4%);
$zach-red: #aa1133;

// -------------------------------------------------------------------------
// --------------------  BOOTSTRAP VARIABLE OVERRIDES  ---------------------
// -------------------------------------------------------------------------

// Global overrides
$text-color: $zach-blue; //#445566;
$body-bg: $zach-blue-bg; //#f9f9fc;
$font-family-base: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-merriweather: "Merriweather", "Montserrat", Helevecita, sans-serif;
$component-active-color: $zach-red;
$component-active-bg: $zach-blue-nav;
$link-hover-decoration: none;

// Panel overrides
$panel-bg:             $zach-blue-bg;
$panel-border-radius:  30px;
$panel-default-border: transparent;
$panel-inner-border:   transparent;
$panel-footer-bg:      $zach-blue-bg;
$panel-default-text:   $zach-red;

// Button overrides
$btn-default-color: #a33;
$btn-default-bg:    #a77;

// Dropdown menu overrides
$dropdown-bg: $zach-blue-nav-active;
$dropdown-border: $zach-blue;
$dropdown-link-color: $zach-blue;
$dropdown-link-hover-color: darken($zach-blue, 30%);
$dropdown-link-hover-bg: $zach-yellow;
$dropdown-link-active-color: $zach-red;
$dropdown-link-active-bg: $dropdown-bg;

// Navbar overrides
$navbar-height: 60px;
$navbar-default-color:             $text-color;
$navbar-default-border:            $zach-blue;
$navbar-default-link-color:        $text-color;
$navbar-default-link-hover-color:  lighten($navbar-default-link-color, 20%);
$navbar-default-link-hover-bg:     $zach-blue-nav-active;
$navbar-default-link-active-color: $zach-red;
$navbar-default-link-active-bg:    $zach-blue-nav-active;
$navbar-default-bg:                $zach-blue-nav;
$navbar-default-brand-hover-color: $navbar-default-link-hover-color;
// Custom handling of dropdown active link color in collapsed nav:
// altered in _navbar.scss line 486
 $navbar-default-link-active-bg-collapse: $zach-blue-nav;

// IMPORT BOOTSTRAP
@import 'bootstrap-custom';