@import 'zachsite_variables';

// -------------------------------------------------------------------------
// -------------------------------  BASE  ----------------------------------
// -------------------------------------------------------------------------

// <<------ NO JS MESSAGE ------>>
$no_js_message_height: 48px;
#no-js-message {
	position: fixed;
	width: 100%;
	right: 0px;
	left: 0px;
	z-index: 1001;
	margin-top: -$no_js_message_height;
	background-color: $zach-red;
	padding: 5px 5%;
	p {
		padding-top: 10px;
		font-size: 10pt;
		color: $zach-gray-light;
		text-align: center;
	}
}

// To accomodate the no-js-message, add top margin to header
header {
	margin-top: $no_js_message_height;
}

.navbar {
	margin-bottom: 0px;
}

.footer {
	height: 80px;
	background-color: $zach-blue-bg-dark;
}

.navbar-default .dropdown-menu > li > a:hover {
	color: darken($zach-blue, 30%);
	background-color: $zach-yellow;
}

// DON'T WRAP THE NAVBAR TEXT:
.navbar-text {
	white-space: nowrap;
}

// all code elements:
code {
	color: black;
	background-color: transparent;
}

// no-js-message smaller font at xs screen sizes
@media(max-width: $screen-sm-min) {
	#no-js-message p {
		font-size: 8pt;
	}
}

// Header media queries
@media(max-width: $screen-sm-min) {
	h1 {
		font-size: 20pt;
		overflow-x: scroll;
	}
	h2 {
		font-size: 17pt;
		overflow-x: scroll;
	}
	h3 {
		font-size: 15pt;
		overflow-x: scroll;
	}
	h4 {
		font-size: 13pt;
		overflow-x: scroll;
	}
	h5 {
		font-size: 12pt;
		overflow-x: scroll;
	}
	h6 {
		font-size: 11pt;
		overflow-x: scroll;
	}
}