@import 'zachsite_variables';

// -------------------------------------------------------------------------
// -------------------------------  BASE  ----------------------------------
// -------------------------------------------------------------------------
#nav1 {
	margin-bottom: 0px;
}

#foot {
	height: 80px;
	background-color: $zach-blue-bg-dark;
}

.navbar-default .navbar-nav > .dropdown > .dropdown-menu > li > a:hover {
	color: darken($zach-blue, 30%);
	background-color: $zach-yellow;
}

// Header media queries
@media(max-width: $screen-sm-min) {
	h1 {
		font-size: 20pt;
		overflow-x: scroll;
	}
	h2 {
		font-size: 18pt;
		overflow-x: scroll;
	}
	h3 {
		font-size: 16pt;
		overflow-x: scroll;
	}
	h4 {
		font-size: 15pt;
		overflow-x: scroll;
	}
}