@import 'zachsite_variables';

// -------------------------------------------------------------------------
// -------------------------------  BASE  ----------------------------------
// -------------------------------------------------------------------------
#nav1 {
	margin-bottom: 0px;
}

#foot {
	height: 80px;
	background-color: $zach-blue-bg-dark;
}

.navbar-default .navbar-nav > .dropdown > .dropdown-menu > li > a:hover {
	color: darken($zach-blue, 30%);
	background-color: $zach-yellow;
}

// <<------ NO JS MESSAGE ------>>
#no-js-message {
	position: fixed;
	width: 100%;
	right: 0px;
	left: 0px;
	z-index: 1001;
	margin-top: -48px;
	background-color: $zach-red;
	padding: 5px 5%;
	p {
		padding-top: 10px;
		font-size: 10pt;
		color: $zach-gray-light;
		text-align: center;
	}
}

// To accomodate the no-js-message, add top margin to header
header {
	margin-top: 48px;
}

// DON'T WRAP THE NAVBAR TEXT:
.navbar-text {
	white-space: nowrap;
}

@media(max-width: $screen-sm-min) {
	#no-js-message p {
		font-size: 8pt;
	}
}

// <<------ Projects-Home Dropdown Link ------>>
#proj-home-drop-link {
	display: none;
}

// On xs screens (when nav-collapse is expanded)
// show the projects-home link in dropdown
@media(max-width: $screen-sm-min) {
	#proj-home-drop-link {
		display: block;
	}
}

// Header media queries
@media(max-width: $screen-sm-min) {
	h1 {
		font-size: 20pt;
		overflow-x: scroll;
	}
	h2 {
		font-size: 17pt;
		overflow-x: scroll;
	}
	h3 {
		font-size: 15pt;
		overflow-x: scroll;
	}
	h4 {
		font-size: 13pt;
		overflow-x: scroll;
	}
	h5 {
		font-size: 12pt;
		overflow-x: scroll;
	}
	h6 {
		font-size: 11pt;
		overflow-x: scroll;
	}
}