@import 'base';
@import 'blog_base';
@import 'precontent';

#entry-section {
	.entry-div {
		margin: 0px;
		padding: 0px 5% 80px 5%;
		h2 {
			text-align: center;
			color: $zach-red;
			font-family: $font-family-merriweather;
			padding: 25px 0% 15px 0%;
		}
		h3 {
			text-align: center;
			padding: 0px 0% 25px 0%;
		}
		p {
			text-align: left;
			padding-bottom: 15px;
		}
	}
}
