@import 'base';
@import 'projects_base';
@import 'geopost_base';

#delete-form {
	display: none;
}

#hint-text {
	min-height: 20px;
	background: $zach-blue-bg-light;
	p {
		text-align: center;
		color: $text-color;
		font-family: $font-family-base;
	}
}

#info {
	h2 {
		text-align: center;
		color: $zach-red;
		font-family: $font-family-merriweather;
		padding: 25px 0% 15px 0%;
	}
	p {
		text-align: left;
		padding-bottom: 15px;
	}
	img {
		width: 100%;
		border-radius: 15px;
	}
}