@import 'base';
@import 'projects_base';
@import 'geopost_base';

#form-div {
	padding: 80px 0px;
}

input {
	width: 100%;
}

textarea {
	width: 100%;
	min-height: 100px;
}

#submit-btn {
	display: none;
}