@import 'base';

// -------------------------------------------------------------------------
// ----------------------------  QA Section  -------------------------------
// -------------------------------------------------------------------------
#zach-hat, #zach-smile {
	height: 200px;
	background-color: $zach-blue-bg-dark;
}

.question {
	font-family: $font-family-merriweather;
	background-color: $zach-purple;
	margin-bottom: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.question-text {
	text-align: center;
}

.answer {
	font-family: $font-family-base;
	background-color: $zach-blue-bg; //#f9f9fc;
	padding-top: 40px;
	padding-bottom: 20px;
	margin: 0px 3%;
}


// -------------------------------------------------------------------------
// ---------------------------  INFO SECTION  ------------------------------
// -------------------------------------------------------------------------

// <<<----- BLURBS DIV ----->>>
#blurbs-div {
	padding-top: 60px;
	padding-bottom: 80px;
	background-color: white;
	text-align: center;
	.blurb {
		padding: 20px 3% 0px 3%;
		h3 {
			padding-bottom: 10px;
		}
	}
}

.blurb > p {
	text-align: left;
	margin: 0px 5% 20px 5%;
}

@media (min-width: $screen-sm-min) {
	.blurb-left > p {
		margin: 0px 3% 20px 6%;
	}
	.blurb-right > p {
		margin: 0px 6% 20px 3%;
	}
}

// <<<----- PROJECTS DIV ----->>>
#projects-div {
	background-color: $zach-yellow;
	padding-bottom: 50px;
}

#projects-heading {
	padding: 60px 0px 50px 0px;
	text-align: center;
	font-family: $font-family-merriweather;
	color: $zach-red;
}

// Style for :hover state of project panels:
.project-panel-hover {
	background-color: lighten($zach-blue-bg, 20%);
}

.project-panel-footer-hover {
	background-color: lighten($zach-blue-bg, 20%);
}

.project-title-hover {
	color: $zach-red-light;
}

.project-title {
	text-align: center;
	color: $panel-default-text;
}

.project > .panel {
	margin: 0px 5% 20px 5%;
}

@media (min-width: $screen-sm-min) {
	.project-left > .panel {
		margin: 0px 3% 20px 6%;
	}
	.project-right > .panel {
		margin: 0px 6% 20px 3%;
	}
}
