@import 'base';

// -------------------------------------------------------------------------
// ----------------------------  QA Section  -------------------------------
// -------------------------------------------------------------------------

$project-header-height: 50px;
$project-summary-height: 132px;
$project-bg-height: 400px + $project-summary-height + $project-header-height;
$project-container-top: $project-bg-height - $project-summary-height;
$project-indicators-top: $project-container-top + 12px;
$project-header-top: 0px;

#projects-section {
	position: relative;
	height: $project-bg-height;
}

#projects-background-div {
	display: block;
	position: relative;
	left: 0px;
	right: 0px;
	height: $project-bg-height;
	width: 100%;
	overflow: hidden;
	background-color: $zach-blue;
	img {
		position: relative;
		min-height: 790px;
		width: 100%;
	}
}

#projects-div {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	height: $project-bg-height;
	opacity: 0.95;
	width: 100%;
}

#project-carousel {
    height: $project-bg-height;
}

#project-summary-container {
	position: absolute;
	top: $project-container-top;
	width: 100%;
}

#project-summary {
	font-family: $font-family-base;
	background-color: black;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	opacity: 0.85;
	padding: 0px;
	height: $project-summary-height;
	blockquote {
		margin-top: 32px;
		margin-bottom: 25px;
		margin-left: 5%;
		margin-right: 5%;
	}
}

#project-header-container {
	position: absolute;
	top: $project-header-top;
	width: 100%;
}

#project-header {
	background-color: black;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	opacity: 0.85;
	padding: 0px;
	height: $project-header-height;
	h3 {
	    font-family: $font-family-base;
	    font-weight: bold;
	    color: white;
	    text-align: center;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: auto;
		margin-right: auto;
	}
}

#project-summary-text {
	font-size: 10pt;
	color: white;
}

#project-indicators {
	position: absolute;
	top: $project-indicators-top;
}

@media(max-width: $screen-sm-min) {
	#projects-div {
		top: 0px;
	}
	#project-summary-text {
		font-size: 8pt;
	}
}

// <<<----- PROJECTS DIV ----->>>
.project-title {
	text-align: center;
	color: $panel-default-text;
}

// project panel styling
.project-panel {
    max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px + $project-header-height;
	box-shadow: 0px 15px 20px black;
	.panel-body img {
		opacity: 0.85;
		width: 100%;
		border-radius: 10px;
	}
}

// Style for :hover state of project panels:
.project-panel:hover, .project-panel:focus {
	.panel-body img {
		opacity: 1.0;
	}
	.panel-footer {
		.project-title {
			color: $zach-red-light;
		}
	}
}




// -------------------------------------------------------------------------
// ---------------------------  INFO SECTION  ------------------------------
// -------------------------------------------------------------------------

// <<<----- BLURBS DIV ----->>>
#blurbs-div {
	padding-top: 60px;
	padding-bottom: 80px;
	background-color: white;
	text-align: center;
	.blurb {
		padding: 20px 3% 0px 3%;
		h3 {
			padding-bottom: 10px;
		}
	}
}

.blurb > p {
	text-align: left;
	margin: 0px 5% 20px 5%;
}

@media (min-width: $screen-sm-min) {
	.blurb-left > p {
		margin: 0px 3% 20px 6%;
	}
	.blurb-right > p {
		margin: 0px 6% 20px 3%;
	}
}
