@import 'base';
@import 'projects_base';

.proj-about-div {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
}

.proj-about-div-even {
	background-color: $zach-blue-bg;
}

.proj-about-div-odd {
	background-color: $zach-yellow;
}

.proj-div-header {
	text-align: center;
}

.proj-div-blurb {
	text-align: left;
}

@media (min-width: $screen-sm-min) {
	#proj-about-div-title-row {
		margin-bottom: 40px;
	}
}

#proj-div-link {
	margin-top: 20px;
	margin-bottom: 20px;
}