@import 'base';
@import 'projects_base';

//----------------------------------------------------------------------------
//--------------------- Project Docs Subsection Formatting -------------------
//----------------------------------------------------------------------------

// Indent logical subdivisions
.docs-class, .docs-method, .docs-sub-method, .docs-var, .docs-params {
	padding-left: 3%;
}

// Indent L and R side of div.description
.description {
	padding-left: 3%;
	padding-right: 3%;
}

// Lightened, formatted box for describing constructor or method parameters
// and/or return value(s)
.docs-params {
	background-color: $zach-blue-bg-light;
	padding-top: 10px 0%;
	margin-bottom: 20px;
	h5, h6 {
		text-align: center;
	}
}

// Different styling if in an .alt div
div.alt .docs-params {
	background-color: $zach-yellow-light;
}

// Emphasized text gets cut off without padding
em {
	padding-right: 0.5%;
}

// All parameters on one line
.param-br {
	display: none;
}

// api ref heading get special treatment
h2#api-ref {
	margin-top: 35px;
	font-family: $font-family-merriweather;
}

// One parameter per line for small screens
@media(max-width: $screen-sm-min) {
	// Parameters are indented because...
	.param-format {
		padding-left: 4%;
	}
	// ...there is only one parameter per line
	.param-br {
		display: block;
	}
}
