@import 'base';
@import 'projects_base';

//----------------------------------------------------------------------------
//--------------------------- Project Div Formatting -------------------------
//----------------------------------------------------------------------------

// general style
.proj-about-div {
	padding: 50px 3%;
	background-color: $zach-blue-bg;
	img {
		width: 100%;
		border-radius: 15px;
		margin: 0px;
	}
}

// heading style
.proj-div-title {
	text-align: center;
}

// the brief description of the project
.proj-div-blurb {
	text-align: left;
}

// the (image) link style
.proj-link-div {
	margin: 20px 0%;
	a {
		position: relative;
		top: 0px;
		width: 100%;
	}
}

.proj-link-div:hover img {
	opacity: 0.7;
}

// if > xs screen size, increased header margin
@media (min-width: $screen-sm-min) {
	.proj-link-div {
		margin: 0px;
		a {
			top: -10px;
		}
	}
	.proj-about-div-title-row {
		margin-bottom: 40px;
	}
}