@import 'base';
@import 'projects_base';

//----------------------------------------------------------------------------
//--------------------------- Project Div Formatting -------------------------
//----------------------------------------------------------------------------

// general style
.proj-about-div {
	padding: 50px 3%;
	background-color: $zach-blue-bg;
}

// heading style
.proj-div-title {
	text-align: center;
}

// the brief description of the project
.proj-div-blurb {
	text-align: left;
}

// the (image) link style
.proj-link-div {
	margin: 20px 0%;
	a {
		height: 100%;
		width: 100%;
	}
}

// if > xs screen size, increased header margin
@media (min-width: $screen-sm-min) {
	.proj-about-div-title-row {
		margin-bottom: 40px;
	}
}