{% extends "zachsite/base.html" %}
{% load staticfiles %}
{% load zachsite_extras %}
{% block localhead %}
<link rel="stylesheet" type="text/css"
href="{% static 'zachsite/index.css' %}">
<script type="text/javascript" src="{% static 'zachsite/index_concat.js' %}">
</script>
{% endblock %}
{% block precontent %}
<section id="qa-section">
  <!-- Q and A background image -->
  <div id="qa-background-div">
    <img src="{% static 'zachsite/catskills.jpg' %}" 
alt="image of catskill mountains">
  </div> <!-- /#qa-background-div -->
  <!-- Question-Answer device -->
  <div id="qa-div">
    <div id="question-carousel" class="carousel slide" data-ride="carousel"
data-interval="6000" data-pause="false">
      <!-- wrapper for slides -->
      <div class="carousel-inner" id="carousel-inner" role="listbox">
        {% for question in QAs %}
        {% if forloop.first %}
        <div class="item active" data-answer="{{ question.answer }}">
        {% else %}
        <div class="item" data-answer="{{ question.answer }}">
        {% endif %}
          <div class="jumbotron question">
            <p id="question-text">{{ question.question }}</p>
          </div> <!-- /.jumbotron -->
        </div> <!-- /.item -->
        {% endfor %}
      </div> <!-- /.carousel-inner -->
      <!-- controls -->
      <a class="left carousel-control" href="#question-carousel"
role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
      </a> <!-- /.left -->
      <a class="right carousel-control" href="#question-carousel"
role="button" data-slide="next">
        <span class="sr-only">Next</span>
      </a> <!-- /.right -->
    </div> <!-- /.carousel -->
    <!-- answer div -->
    <div class="jumbotron" id="answer">
      <blockquote>
        <p id="answer-text">{{ QAs.0.answer }}</p>
      </blockquote>
    </div> <!-- /.jumbotron -->
  </div> <!-- /#qa-div -->
</section> <!-- /.qa-section -->
{% endblock %}
{% block content %}
<!-- Spiel info: about me -->
<section id="info-section">
  <!-- A blurb about me -->
  <div id="blurbs-div" class="container-fluid">
    <div class="row">
      <div class="blurb blurb-left col-xs-12 col-sm-6">
        <h3>I'm Zach</h3>
        <p>
          I'm a pretty friendly guy. I like playing music, recreating 
          outdoors, and meeting other friendly people. I know a good deal 
          about rocks, and I enjoy thinking about them when I am hiking. 
          However, I don't want to think about them for a living. That's 
          too much rocks. It is a personal aspiration of mine to one day 
          put together a recording studio. I think food, people, mountains,
          and music are probably all I need to be happy.
        </p>
      </div> <!-- /.blurb -->
      <div class="blurb blurb-right col-xs-12 col-sm-6">
        <h3>I Like Code</h3>
        <p>
          After college I discovered that I'd really like to be a software 
          engineer. It feels very nice to build things and have them work. 
          Keeps me off the streets. I never have to think about the same 
          <a
href="http://gsabulletin.gsapubs.org/content/127/9-10/1174.abstract">
          stratigraphic column 
          </a>
          for six months at a time.... My three main areas of interest are 
          discrete-time signal processing, web development, and GIS (there, 
          I still get to look at rocks). You can check out some of my active 
          projects below.
        </p>
      </div> <!-- /.blurb -->
    </div> <!-- /.row -->
  </div> <!-- /.container-fluid -->
  <!-- A showcase of my projects -->
  <div id="projects-div" class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h2 id="projects-heading">Active Projects</h2>
      </div> <!-- /.col-xs-12 -->
    </div> <!-- /.row -->
    <div class="row">
      {% for project in projectList %}
      {% if forloop.last and not projectLen|divisibleby:2 %}
      <div class="project col-xs-12 col-sm-8 col-sm-offset-2">
      {% elif forloop.counter0|divisibleby:2 %}
      <div class="project project-left col-xs-12 col-sm-6">
      {% else %}
      <div class="project project-right col-xs-12 col-sm-6">
      {% endif %}
        <div class="panel project-panel panel-default">
          <a href="{% url 'project_about' project.id project.slug %}">
            <div class="panel-body">
              <img alt="project logo"
src="{% static 'projects/'|add:project.logo %}">
            </div> <!-- /.panel-body -->
            <div class="panel-footer">
              <h3 class="project-title">{{ project.title }}</h3>
            </div> <!-- /.panel-footer -->
          </a>
        </div> <!-- /.panel -->
      </div> <!-- /.blurb -->
      {% endfor %}
    </div> <!-- /.row -->
  </div> <!-- /.container-fluid -->
</section> <!-- /.info-section -->
{% endblock %}