{% extends "zachsite/auth_base.html" %}
{% block errors %}
<li>
  <p>New password:</p>
  {{ form.new_password1.errors }} 
  {{ form.new_password2.errors }} 
</li>
{% endblock %}
{% block authform %}
{% if validlink %}
<form class="auth-form" method="post">
  {% csrf_token %}
  {{ form.new_password1.label_tag }}
  {{ form.new_password1 }}<br> 
  {{ form.new_password2.label_tag }}
  {{ form.new_password2 }}<br>
  <input class="submit-btn" type="submit" value="Reset Password"/>
</form>
{% else %}
<p class="auth-msg">Sorry, this link is no longer valid.</p>
{% endif %}
{% endblock %}