{% extends "zachsite/auth_base.html" %}
{% block errors %}
<li>
  <p>Username:</p>
  {{ form.username.errors }}
</li>
<li>
  <p>Email:</p>
  {{ form.email.errors }}
</li>
<li>
  <p>Password:</p>
  {{ form.password.errors }}
</li>
{% endblock %}
{% block authform %}
<form class="auth-form" method="post" action="{% url 'signup' %}">
  {% csrf_token %}
  {{ form.username.label_tag }}
  {{ form.username }}<br>
  {{ form.email.label_tag }}
  {{ form.email }}<br>
  {{ form.password.label_tag }}
  {{ form.password }}<br>
  <input class="submit-btn" type="submit" value="Sign Up">
</form>
{% endblock %}