<section id="readme-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h2>Introduction</h2>
        <p>
          ZachSite is my first website.  I intend it as a place for me to
          showcase personal code projects, especially web applications.
          It's kind of a barebones layout, but I wanted to get experience
          with database driven web development and certain 
          frameworks/toolsets that I plan to use in the future, so under the
          hood it is maybe a little more robust than it needs to be.  This
          page is just me bragging to potential employers about all those
          goodies with which I now have experience. So, if that interests you,
          read on.
        </p>
      </div> <!-- /.col-xs-12 -->
    </div> <!-- /.row -->
  </div> <!-- /.container-fluid -->
</section>