<div class="col-sm-2 col-md-3">
</div> <!-- /.col-sm-2 -->
<div class="col-xs-12 col-sm-4 col-md-3">
  <a class="subnav-link"
href="{% url 'project_about' curr_project.id curr_project.slug %}">
    <div>
      <span class="subnav-link-active-icon">$ </span>About The Site
    </div>
  </a>
</div> <!-- /.col-xs-12 -->
<div class="col-xs-12 col-sm-4 col-md-3">
  <a class="subnav-link"
href="https://github.com/zachsnyder1/zachsite">
    <div>
      <span class="subnav-link-active-icon">$ </span>Source On GitHub
    </div>
  </a>
</div> <!-- /.col-xs-12 -->
<div class="col-sm-2 col-md-3">
</div> <!-- /.col-sm-2 -->