{% load zachsite_extras %}
<div class="row">
  <div class="col-xs-12">
    <h2 id="header-introduction">A Short Introduction</h2>
    <p>
      Welcome to the signalhook docs page!  The documentation below is not
      comprehensive, but it completely covers the user API, as well as certain
      other elements of the software that may help to illuminate the 
      underlying design patterns upon which it is built.  If you are looking 
      for a thorough treatment of all internal elements, inline documentation
      is provided in the form of 
      <a href="https://en.wikipedia.org/wiki/Docstring#Python">docstrings</a>.
    </p>
    <h3>File Structure</h3>
    <p>
      Here's a fuzzy picture of what the project file hierarchy looks like:
    </p>
    <div class="pre-container">
      <pre>
[ROOT]/                                 -->  Project root
  |
  |- README.md                          -->  The README file for GitHub
  |- setup.py                           -->  The setuptools setup script
  |--> src/                             -->  Where the source files live
  |     |
  |     |--> signalhook/                -->  Package root, when built & installed
  |               |
  |               |- base_io.py         -->  Abstract I/O base classes
  |               |- wav_io.py          -->  Concrete I/O classes for .WAV files 
  |               |- engine.py          -->  Engine classes.  This is what you would
  |               |                          generally import and use. 
  |               |--> plugins/         -->  Will hold pre-built plugins for learning
  |                       |                  purposes and/or use in actual signal
  |                       V                  processing applications
  |             [eventually, plugins]
  |               
  |
  |--> test/                            -->  Where the test automation lives
         |
         V
  [lots of stuff]
      </pre>
    </div>
    <p>Some things to notice:</p>
    <ul>
      <li>
        <p>
          The base_io.py module under the package root holds abstract base
          classes that define a common interface for file I/O.  This
          interface is then implemented separately (in child classes) for
          each discrete-time signal file format that is supported by the
          framework. For example, the wav_io.py module holds concrete classes
          that implement the interface for .WAV files.  See the 
          <a href="#design-overview">design overview</a> for more information
          on the class hierarchies and design patterns used in the project.
        </p>
      </li>
      <li>
        <p>
          The engine.py module under the package root defines the Engine
          classes, which are what tie together and coordinate the
          functionality of the I/O classes with the plugin callback function.
        </p>
      </li>
    </ul>
    <h3 id="design-overview">Overview of Design</h3>
    <p>
    	Here's a diagram of how the class hierarchies are organized:
    </p>
    <p>
      (DIAGRAM PLACEHOLDER)
    </p>
    <p>Some things to notice:</p>
    <ul>
      <li>
        <p>
          Conceptually, the class hierarchies are split into two categories:
          I/O and Engines.
        </p>
      </li>
      <li>
        <p>
          There are two broad categories of I/O--files and streams--for each
          of which there is an input base class and an output base class.
          These base classes define common interfaces for the concrete
          input/output subclasses of each I/O category.
        </p>
      </li>
      <li>
        <p>
          There are four concrete Engine classes, one for each possible
          combination of file-type/stream-type input/output.
        </p>
      </li>
      <li>
        <p>
          When an Engine object is initialized it 'composes itself' with an
          object of each a concrete input class and a concrete output class.
          For example, a FileToFileEngine object may compose itself with
          a concrete input object for reading WAV files and a concrete output
          object for writing AIFF files.
        </p>
      </li>
    </ul>
    <p>
      Structuring the class hierarchies in this way couples the Engine class
      hierarchy to the <em>general</em> categories of I/O, but it decouples
      it from the <em>specific</em> file formats or stream formats of the I/O.
      This gives the advantage that implementing support for a new file format
      or data-stream format only involves adding a concrete input class and a 
      concrete output class for it.  The drawback is that if someone wanted to
      add a new file I/O category to the project, it would greatly increase
      the number of concrete Engine classes that need to be written.  I think
      that is less likely, however.
    </p>
  </div> <!-- /.col-xs-12 -->
</div> <!-- /.row -->
