{% load projects_extras %}
<section id="docs-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h2>The API</h2>
        <p>
          This is the {{ curr_project.title }} API.  I will ramble for a bit 
          about the significance, and then I'll let you read the docs below. 
          Maybe I have some great insights into how you should interpret 
          information, or some outlandish suggestion about how you should 
          change your general workflow habits...
        </p>
      </div> <!-- /.col-xs-12 -->
    </div> <!-- /.row -->
  </div> <!-- /.container-fluid -->
  {% for module in curr_project.projmodule_set.all %}
  {% if forloop.counter0|divisibleby:2 %}
  <div class="container-fluid alt">
  {% else %}
  <div class="container-fluid">
  {% endif %}
    <div class="row">
      <div class="col-xs-12">
        <h2>MODULE <br><br><span class="red">{{ module.path }}</span></h2>
        <p class="description">{{ module.description }}</p>
      </div> <!-- /.col-xs-12 -->
    </div> <!--/.row -->
    {% for class in module.projclass_set.all %}
    <div class="row">
      <div class="col-xs-12">
        <h3>THE <em class="red">{{ module.symbol }}</em> CLASSES:</h3>
        <h4>
          <em class="red">{{ module.symbol }}</em>.{{ class.symbol }}(
          {% for constructorParam in class.constructorparam_set.all %}
          {% if forloop.last %}
          {% if constructorParam.default %}
          <em class="light-blue">{{ constructorParam.symbol }}={{ constructorParam.default }}</em>
          {% else %}
          <em class="light-blue">{{ constructorParam.symbol }}</em>
          {% endif %}
          {% else %}
          {% if constructorParam.default %}
          <em class="light-blue">{{ constructorParam.symbol }}={{ constructorParam.default }}</em>,
          {% else %}
          <em class="light-blue">{{ constructorParam.symbol }}</em>,
          {% endif %}
          {% endif %}
          {% endfor %}
          )
        </h4>
        <div class="docs-class-div">
          {% if class.constructorparam_set.all %}
          <h4>Constructor Parameters:</h4>
          <div class="docs-params-div">
          {% for constructorParam in class.constructorparam_set.all %}
            <p>
              <span class="light-blue bold">{{ constructorParam.symbol }}</span>:
            </p>
            <p class="description">{{ constructorParam.description }}</p>
          {% endfor %}
          </div> <!-- /.docs-params-div -->
          {% endif %}
          <p>{{ class.description }}</p>
          {% if class.classmethod_set.all %}
          <h4>Class methods:</h4>
          <div class="docs-method-div">
          {% for method in class.classmethod_set.all %}
          <h5>
            .{{ method.symbol }}(
            {% for methodParam in method.methodparam_set.all %}
            {% if forloop.last %}
            {% if methodParam.default %}
            <em class="light-blue">{{ methodParam.symbol }}={{ methodParam.default }}</em>
            {% else %}
            <em class="light-blue">{{ methodParam.symbol }}</em>
            {% endif %}
            {% else %}
            {% if methodParam.default %}
            <em class="light-blue">{{ methodParam.symbol }}={{ methodParam.default }}</em>,
            {% else %}
            <em class="light-blue">{{ methodParam.symbol }}</em>,
            {% endif %}
            {% endif %}
            {% endfor %}
            )
          </h5>
          <div class="docs-sub-method-div">
          {% if method.methodparam_set.all %}
          <h5>Method Parameters:</h5>
          <div class="docs-params-div">
          {% for methodParam in method.methodparam_set.all %}
            <p>
              <span class="light-blue bold">{{ methodParam.symbol }}</span>:
            </p>
            <p class="description">{{ methodParam.description }}</p>
          {% endfor %}
          </div> <!-- /.docs-params-div -->
          {% endif %}
          <p>{{ method.description }}</p>
          </div> <!-- /.docs-sub-method-div -->
          {% endfor %}
          </div> <!-- /.docs-method-div -->
          {% endif %}
        </div> <!-- /#proj-class-div -->
      </div> <!-- /.col-xs-12 -->
    </div> <!-- /.row -->
    {% endfor %}
  </div> <!-- /.container-fluid -->
  {% endfor %}
</section>
