{% load projects_extras %}
<section id="pre-docs-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h2>The API</h2>
        <p>
          This is the {{ curr_project.title }} API.  I will ramble for a bit 
          about the significance, and then I'll let you read the docs below. 
          Maybe I have some great insights into how you should interpret 
          information, or some outlandish suggestion about how you should 
          change your general workflow habits...
        </p>
      </div> <!-- /.col-xs-12 -->
    </div> <!-- /.row -->
  </div> <!-- /.container-fluid -->
</section>
