{% extends 'zachsite/base.html' %}
{% load staticfiles %}
{% block localhead %}
<script type="text/javascript" src="{% static 'projects/projects_base.js' %}">
</script>
{% endblock %}
{% block title %}<title>Projects | Zach Snyder</title>{% endblock %}
{% block subnav %}
<div class="container-fluid" id="project-subnav" hidden="true">
  <div class="row">
  {% include subnav_location %}
  </div> <!-- /.row -->
</div> <!-- /.container-fluid -->
{% endblock %}
{% block precontent %}
<section id="projects-about-section">
  <div id="header-carousel" class="carousel slide" data-ride="carousel"
data-pause="false">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <!-- item contents... -->
      </div> <!-- item -->
      <div class="item">
        <!-- item contents... -->
      </div> <!-- item -->
    </div> <!-- /.carousel-inner -->
    
    <div id="header-panel" class="container-fluid">
      <div class="row">
        <div class="col-xs-2 col-sm-3 col-md-4">
        </div> <!-- /.col-xs-2 -->
        <div class="panel panel-default col-xs-8 col-sm-6 col-md-4">
          <div class="panel-body">
            <h2 id="header-title">
            {% if curr_project %}
              <strong>&lt</strong> {{ curr_project.title }} <strong>/&gt</strong>
            {% else %}
              <strong>&lt</strong> Projects <strong>/&gt</strong>
            {% endif %}
            </h2>
          <div> <!-- /.panel-body -->
        </div> <!-- /.panel -->
        <div class="col-xs-2 col-sm-3 col-md-4">
        </div> <!-- /.col-xs-2 -->
      </div> <!-- ./row -->
    </div> <!-- /.container-fluid -->
  </div> <!-- /.carousel -->
</section> <!-- /.projects-about-section -->
{% endblock %}
{% block content %}
{% endblock %}