{% extends 'zachsite/base.html' %}
{% load static %}
{% block title %}<title>Projects | Zach Snyder</title>{% endblock %}
{% block subnav %}
<div class="container-fluid" id="project-subnav">
  <div class="row">
  {% include subnav_location %}
  </div> <!-- /.row -->
</div> <!-- /.container-fluid -->
{% endblock %}
{% block precontent %}
<section class="header-section">
  <!-- Header Background Image -->
  <div class="header-background">
    <img src="{% static 'projects/sky.jpg' %}" alt="a snowy sky">
  </div> <!-- /.header-background -->
  <!-- Header Panel -->
  <div id="header-panel" class="container-fluid">
    <div class="row">
      <div class="col-xs-2 col-sm-3 col-md-4">
      </div> <!-- /.col-xs-2 -->
      <div class="panel panel-default col-xs-8 col-sm-6 col-md-4">
        <div class="panel-body">
          <h2 id="header-title">
            {% if curr_project %}
            <strong>&lt</strong> {{ curr_project.title }} <strong>/&gt</strong>
            {% else %}
            <strong>&lt</strong> Projects <strong>/&gt</strong>
            {% endif %}
          </h2>
        <div> <!-- /.panel-body -->
      </div> <!-- /.panel -->
      <div class="col-xs-2 col-sm-3 col-md-4">
      </div> <!-- /.col-xs-2 -->
    </div> <!-- ./row -->
  </div> <!-- /.container-fluid -->
</section> <!-- /.header-section -->
{% endblock %}
{% block content %}
{% endblock %}