{% extends 'projects/base_projects.html' %}
{% load staticfiles %}
{% block localhead %}
<link rel="stylesheet" type="text/css"
href="{% static 'projects/project_about.css' %}">
<script type="text/javascript" src="{% static 'projects/project_about.js' %}">
</script>
{% endblock %}
{% block title %}
<title>{{ curr_project.title }} | Zach Snyder</title>
{% endblock %}
{% block content %}
<section id="project-header-section">
  <div id="header-carousel" class="carousel slide" data-ride="carousel"
data-pause="false">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <p>Thing one!</p>
      </div> <!-- item -->
      <div class="item">
        <p>Thing two!</p>
      </div> <!-- item -->
    </div> <!-- /.carousel-inner -->
    
    <div id="header-panel" class="container-fluid">
      <div class="row">
        <div class="col-xs-2 col-sm-3 col-md-4">
        </div> <!-- /.col-xs-2 -->
        <div class="panel panel-default col-xs-8 col-sm-6 col-md-4">
          <div class="panel-body">
            <h2 id="header-title">
              <strong>&lt</strong> {{ curr_project }} <strong>/&gt</strong>
            </h2>
          <div> <!-- /.panel-body -->
        </div> <!-- /.panel -->
        <div class="col-xs-2 col-sm-3 col-md-4">
        </div> <!-- /.col-xs-2 -->
      </div> <!-- ./row -->
    </div> <!-- /.container-fluid -->
  </div> <!-- /.carousel -->
</section> <!-- /.project-header-section -->

<section>
  <div id="project-summary">
    <p>Here's some great info!</p>
  </div>
</section>
{% endblock %}