{% extends 'projects/base_projects.html' %}
{% load staticfiles %}
{% block localhead %}
{{ block.super }}
<link rel="stylesheet" type="text/css"
href="{% static 'projects/project_docs.css' %}">
<script type="text/javascript" src="{% static 'projects/project_docs.js' %}">
</script>
{% endblock %}
{% block title %}<title>{{ curr_project }} | Docs</title>{% endblock %}
{% block content %}
<section id="docs-section">
  <div class="sidebar-wrapper">
    <div class="sidebar">
      <h4>Contents:</h4>
      <a class="sidebar-link topic" role="button" href="#the-api">
        <div>The API</div>
      </a>
      {% for module in curr_project.projmodule_set.all %}
      <a class="sidebar-link topic" role="button" href="#{{ module.symbol }}">
        <div>{{ module.symbol }}</div>
      </a>
      {% for class in module.projclass_set.all %}
      <a class="sidebar-link subtopic1" role="button" href="#{{ class.symbol }}">
        <div><strong>class {{ class.symbol }}</strong></div>
      </a>
      {% for classVar in class.classvariable_set.all %}
      <a class="sidebar-link subtopic2" role="button" href="#{{ classVar.symbol }}">
        <div>{{ classVar.symbol }}</div>
      </a>
      {% endfor %}
      {% for instanceVar in class.instancevariable_set.all %}
      <a class="sidebar-link subtopic2" role="button" href="#{{ instanceVar.symbol }}">
        <div>{{ instanceVar.symbol }}</div>
      </a>
      {% endfor %}
      {% for method in class.classmethod_set.all %}
      <a class="sidebar-link subtopic2" role="button" href="#{{ method.symbol }}">
        <div>.{{ method.symbol }}()</div>
      </a>
      {% endfor %}
      {% endfor %}
      {% endfor %}
    </div> <!-- /.sidebar -->
  </div> <!-- /.sidebar-wrapper -->
  <div class="container-fluid">
    {% include docs_location %}
    <!-- **************************** -->
  	<!--  FOR EACH MODULE IN PROJECT: -->
  	<!-- **************************** -->
    {% for module in curr_project.projmodule_set.all %}
    {% if forloop.counter0|divisibleby:2 %}
    <div class="row alt">
    {% else %}
    <div class="row">
      {% endif %}
      <div class="col-xs-12">
        <h2 id="{{ module.symbol }}">
          MODULE <br><br><span class="red">{{ module.path }}</span>
        </h2>
        <p class="description">{{ module.description }}</p>
      </div> <!-- /.col-xs-12 -->
      <div class="col-xs-12">
        <h3>THE <em class="red">{{ module.symbol }}</em> CLASSES:</h3>
      </div> <!-- /.col-xs-12 -->
      <!-- ************************** -->
  	  <!--  FOR EACH CLASS IN MODULE: -->
  	  <!-- ************************** -->
      {% for class in module.projclass_set.all %}
      <div class="col-xs-12">
        <h4 id="{{ class.symbol }}">
          <strong>
            <em class="red">{{ module.symbol }}</em>.{{ class.symbol }}(
          </strong>
          <!-- ***************************************** -->
  	      <!--  FOR EACH CONSTRUCTOR PARAMETER IN CLASS: -->
  	      <!-- ***************************************** -->
          {% for constructorParam in class.constructorparam_set.all %}
          <span class="param-format"><br class="param-br">
          {% if forloop.last %}
          {% if constructorParam.default %}
          <em class="light-blue">{{ constructorParam.symbol }}={{ constructorParam.default }}</em>
          {% else %}
          <em class="light-blue">{{ constructorParam.symbol }}</em>
          {% endif %}
          {% else %}
          {% if constructorParam.default %}
          <em class="light-blue">{{ constructorParam.symbol }}={{ constructorParam.default }}</em>,
          {% else %}
          <em class="light-blue">{{ constructorParam.symbol }}</em>,
          {% endif %}
          {% endif %}
          </span> <!-- /.param-format -->
          {% endfor %} <!-- END for constructorParam ... -->
          <!-- ************************************ -->
  	      <!--  END FOR EACH CONSTRUCTOR PARAMETER: -->
  	      <!-- ************************************ -->
  	      {% if class.constructorparam_set.all %}
          <br class="param-br">
          {% endif %}
          <strong>)</strong>
        </h4>
        <div class="docs-class-div">
          {% if class.constructorparam_set.all %}
          <div class="docs-params-div">
            <h5>-- Constructor Parameters --</h5>
              <!-- ***************************************** -->
  	          <!--  FOR EACH CONSTRUCTOR PARAMETER IN CLASS: -->
  	          <!-- ***************************************** -->
              {% for constructorParam in class.constructorparam_set.all %}
              <p>
                <span class="light-blue bold">{{ constructorParam.symbol }}</span>:
              </p>
              <p class="description">{{ constructorParam.description }}</p>
              {% endfor %} <!-- END for constructorParam ... -->
              <!-- ************************************ -->
  	          <!--  END FOR EACH CONSTRUCTOR PARAMETER: -->
  	          <!-- ************************************ -->
            <h6>--->><<---</h6>
          </div> <!-- /.docs-params-div -->
          {% endif %}
          <p>{{ class.description }}</p>
          {% if class.classvariable_set.all %}
          <h4>Class Variables:</h4>
          <div class="docs-var-div">
            <!-- ********************************** -->
  	        <!--  FOR EACH CLASS VARIABLE IN CLASS: -->
  	        <!-- ********************************** -->
            {% for classvar in class.classvariable_set.all %}
            <h5 id="{{ classvar.symbol }}">
              <strong>{{ classvar.symbol }}</strong>
            </h5>
            <p class="description">{{ classvar.description }}</p>
            {% endfor %}  <!-- END for classvar ... -->
            <!-- ***************************** -->
  	        <!--  END FOR EACH CLASS VARIABLE: -->
  	        <!-- ***************************** -->
          </div> <!-- /.docs-var-div -->
          {% endif %}
          {% if class.instancevariable_set.all %}
          <h4>Instance Variables:</h4>
          <div class="docs-var-div">
            <!-- ************************************* -->
  	        <!--  FOR EACH INSTANCE VARIABLE IN CLASS: -->
  	        <!-- ************************************* -->
            {% for instancevar in class.instancevariable_set.all %}
            <h5 id="{{ instancevar.symbol }}">
              <strong>{{ instancevar.symbol }}</strong>
            </h5>
            <p class="description">{{ instancevar.description }}</p>
            {% endfor %} <!-- END for instanceVar ... -->
            <!-- ******************************** -->
  	        <!--  END FOR EACH INSTANCE VARIABLE: -->
  	        <!-- ******************************** -->
          </div> <!-- /.docs-var-div -->
          {% endif %}
          {% if class.classmethod_set.all %}
          <h4>Class Methods:</h4>
          <div class="docs-method-div">
            <!-- ************************** -->
  	        <!--  FOR EACH METHOD IN CLASS: -->
  	        <!-- ************************** -->
            {% for method in class.classmethod_set.all %}
            <h5 id="{{ method.symbol }}">
              <strong>.{{ method.symbol }}(</strong>
              <!-- ****************************** -->
  	          <!--  FOR EACH PARAMETER IN METHOD: -->
  	          <!-- ****************************** -->
              {% for methodParam in method.methodparam_set.all %}
              <span class="param-format"><br class="param-br">
              {% if forloop.last %}
              {% if methodParam.default %}
              <em class="light-blue">{{ methodParam.symbol }}={{ methodParam.default }}</em>
              {% else %}
              <em class="light-blue">{{ methodParam.symbol }}</em>
              {% endif %}
              {% else %}
              {% if methodParam.default %}
              <em class="light-blue">{{ methodParam.symbol }}={{ methodParam.default }}</em>,
              {% else %}
              <em class="light-blue">{{ methodParam.symbol }}</em>,
              {% endif %}
              {% endif %}
              </span> <!-- /.param-format -->
              {% endfor %} <!-- END for methodParam ... -->
              <!-- ********************************** -->
  	          <!--  END FOR EACH PARAMETER IN METHOD: -->
  	          <!-- ********************************** -->
  	          {% if method.methodparam_set.all %}
              <br class="param-br">
              {% endif %}
              <strong>)</strong>
            </h5>
            <div class="docs-sub-method-div">
              {% if method.methodparam_set.all %}
              <div class="docs-params-div">
                <h6>-- Method Parameters --</h6>
                <!-- ****************************** -->
  	            <!--  FOR EACH PARAMETER IN METHOD: -->
  	            <!-- ****************************** -->
                {% for methodParam in method.methodparam_set.all %}
                <p>
                  <span class="light-blue bold">{{ methodParam.symbol }}</span>:
                </p>
                <p class="description">{{ methodParam.description }}</p>
                {% endfor %} <!-- END for methodParam ... -->
                <!-- ********************************** -->
  	            <!--  END FOR EACH PARAMETER IN METHOD: -->
  	            <!-- ********************************** -->
                {% if method.methodreturn_set.all %}
                {% if method.methodreturn_set.all.1 %}
                <h6>[ Return Values ]</h6>
        	    {% else %}
        	    <h6>[ Return Value ]</h6>
        	    {% endif %}
        	    <!-- ********************************* -->
  	            <!--  FOR EACH RETURN VALUE IN METHOD: -->
  	            <!-- ********************************* -->
        	    {% for returnValue in method.methodreturn_set.all %}
        	    <p>
                  <span class="light-blue bold">{{ returnValue.symbol }}</span>:
                </p>
                <p class="description">{{ returnValue.description }}</p>
        	    {% endfor %} <!-- END for returnValue ... -->
        	    <!-- ************************************* -->
  	            <!--  END FOR EACH RETURN VALUE IN METHOD: -->
  	            <!-- ************************************* -->
                {% endif %}
                <h6>--->><<---</h6>
              </div> <!-- /.docs-params-div -->
              {% endif %}
              <p>{{ method.description }}</p>
            </div> <!-- /.docs-sub-method-div -->
            {% endfor %} <!-- END for method ... -->
            <!-- ****************************** -->
  	        <!--  END FOR EACH METHOD IN CLASS: -->
  	        <!-- ****************************** -->
          </div> <!-- /.docs-method-div -->
          {% endif %}
        </div> <!-- /#proj-class-div -->
      </div> <!-- /.col-xs-12 -->
      {% endfor %} <!-- END for class ... -->
    </div> <!-- /.row -->
    {% endfor %} <!-- END for module ... -->
  </div> <!-- /.container-fluid -->
</section>
{% endblock %}